
.header {

    width: 100vw;
    height:100vh;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    color: blue

}
.logo::first-letter {
    color: darkblue;
    font-size: 60px;
    border: 2px solid black;
    border-right: transparent;
    padding: 0 5px;
    color: #fd766f;
    
}
nav ul li {
    display: inline-block;
    padding: 10px 20px;
}
nav li {
    position: relative;
    padding: 5px 0;
    font-weight: bold;
    font-size: 20px;
}

nav li:hover {
    color: red;
}
.button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    font-weight: 100;
    background: #fd766f;
    border-radius: 500px;
    color: white;
}
